PORT=3000
POSTGRES_URL=postgresql://bookipi:bookipi123@localhost:5433/bookipi
POSTGRES_TEST_URL=postgresql://bookipi:bookipi123@localhost:5433/bookipi_test
REDIS_URL=redis://localhost:6379
SALE_START_TIME=2026-03-18T10:00:00.000Z
SALE_END_TIME=2026-03-18T10:10:00.000Z
SALE_INITIAL_STOCK=100
